{% extends "base.html" %} 

{# Номер лабораторной #}
{% block lab %} Лабораторная работа 2{% endblock %}

{# Основной контент#}
{% block main %}
    <h1>Шаблоны</h1>
    <div>Тема лабораторной - шаблоны. Список сделанных страниц:</div>
    <ol>
        <li>
            <a href="/lab2/example">example</a><br>
        </li>
        <li>
            <a href="/lab2/flowers/0">flowers</a><br>
        </li>
        <li>
            <a href="/lab2/books">books</a><br>
        </li>
        <li>
            <a href="/lab2/cars">cars</a><br>
        </li>
        <li>
            <a href="/lab2/filters">filters</a><br>
        </li>    
    </ol>
{% endblock %}